{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-3 mt-3">
		<div class="card">
			<div class="content">
				<div class="row">
					<div class="col-sm-4">
						<div class="icon-big text-center">
							<i class="red fas fa-exchange-alt"></i>

						</div>
					</div>
					<div class="col-sm-8">
						<div class="detail text-center">
							<p>High P2P</p>
							<span class="number">6,267</span>
						</div>
					</div>
				</div>
				<div class="footer">
					<hr />
					<div class="stats">
						<i class="fas fa-filter"></i> Threshold is 1,500,000 IRR
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 mt-3">
		<div class="card">
			<div class="content">
				<div class="row">
					<div class="col-sm-4">
						<div class="icon-big text-center">
							<i class="olive fas fa-window-restore"></i>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="detail text-center">
							<p>Registration</p>
							<span class="number">5,910</span>
						</div>
					</div>
				</div>
				<div class="footer">
					<hr />
					<div class="stats">
						<i class="fas fa-calendar"></i> In this current Month
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 mt-3">
		<div class="card">
			<div class="content">
				<div class="row">
					<div class="col-sm-4">
						<div class="icon-big text-center">
							<i class="violet fas fa-eye"></i>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="detail text-center">
							<p>Location checks</p>
							<span class="number">554</span>
						</div>
					</div>
				</div>
				<div class="footer">
					<hr />
					<div class="stats">
						<i class="fas fa-stopwatch"></i> In the last 24 Hour
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 mt-3">
		<div class="card">
			<div class="content">
				<div class="row">
					<div class="col-sm-4">
						<div class="icon-big text-center">
							<i class="orange fas fa-envelope"></i>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="detail text-center">
							<p>Sent alerts</p>
							<span class="number">7</span>
						</div>
					</div>
				</div>
				<div class="footer">
					<hr />
					<div class="stats">
						<i class="fas fa-envelope-open-text"></i> Active in the last 7 days
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">Control Status Radar</h4>
					<p class="text-muted">Count of alerts raised per control (This month)</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="control_status_radar_this_month"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">Control Status Radar</h4>
					<p class="text-muted">Count of alerts raised per control (Past two months)</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="control_status_radar_past_two_months"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">MSS</h4>
					<p class="text-muted">Count of location checks on MSS</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="mss_location_check"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">USN</h4>
					<p class="text-muted">Count of location checks on USN</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="usn_location_check"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">Dealers COW</h4>
					<p class="text-muted">Abnormal count of COW for a dealer</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="cow_per_dealer"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">Dealers Registration</h4>
					<p class="text-muted">Abnormal count of Registration for a dealer</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="registration_per_dealer"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">P2P Transfers</h4>
					<p class="text-muted">Daily P2P transfers more than threshold</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="p2p_transfers"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">Latest Used Vouchers</h4>
					<p class="text-muted">Possible double selling vouchers</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="latest_used_vouchers"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">SIMC before activation</h4>
					<p class="text-muted">SIM theft</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="simc_before_act"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="content">
				<div class="head">
					<h4 class="mb-0">Registration outside location</h4>
					<p class="text-muted">Possiblity of active SIM selling</p>
				</div>
				<div class="canvas-wrapper">
					<canvas class="chart" id="registration_outside_loc"></canvas>
				</div>
				<div class="ui hidden divider"></div>
			</div>
		</div>
	</div>
</div>


{% endblock %}